.card {

 &__heading {
    margin-bottom: 17px;
 } 
}

.card-zx9-bg {
   background: url('../assets/home/mobile/image-speaker-zx9.png') top center/172.25px 207px no-repeat orange;
   min-height: 37.5rem;
}

