@import '../variables.scss';

header {
  background-color: $black;
}

.header {
  background-color: $black;
  border-bottom: 1px solid rgba(151, 151, 151, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1.5rem;

  @media screen and (min-width: 48rem) {
    margin: 0 auto;
    width: 89.71%;
    padding: 2rem 0;
    max-width: 69.375rem;
  }
}

.header__logo {
  margin-right: auto;

  @media screen and (min-width: 48.0625rem) {
    margin-right: 0;
  }  
}

.header__cart {
  height: 1.25rem;
  width: 1.4375rem;
}

.header__navIcon {
  height: 0.9375rem;
  width: 1rem;
  margin-right: 2.625rem;
  @media screen and (min-width: 48.0625rem) {
    display: none;
  }
}