@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');


//This file will hold variables and base css classes for the project.
$orange: #D87D4A;
$light-orange: #FBAF85;
$almost-black: #101010;
$black: #000000;
$light-grey: #F1f1f1;
$almost-white: #fafafa;
$white: #ffffff;

$ff: 'Manrope', sans-serif;

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 22.4375rem;
  font-size: 1rem;
}

.hr {
  border-bottom: solid 1px #979797;
  opacity: 10.4%;
}